@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
  min-width: 1280px;
}

/*Pages*/

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}

.page-header {

  background: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.main {

}
.section-hero {
  color: #ffffff;
  background-color: #85B1D5;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  }

h1{
  text-align: center;
}

.advantages-next{
  text-align: center;
  text-transform: uppercase;
}
.footer-picture{
  color: #ffffff;
  background-color: #90ACBA;
  background-image: url("../images/pictureofmountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 415px;
}
.footer-form{
  text-align: center;
}
